html, body
{
  padding: 0px;
  margin: 0px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container
{
  width: 100%;
}

.page-content
{
  width: 920px;
  margin: 0 auto;
  padding: 40px;
}

.page-content form#feedback
{
  
}

.form-row
{
  width: 100%;
}

.form-row span:first-child
{
  display: inline-block;
  width: 450px;
  text-align: right;
  margin: 15px;
}

.form-row span:last-child
{
  display: inline-block;
  text-align: left;
  margin: 15px;
}

.page-content form#feedback .form-row:last-child
{
  text-align: center;
  margin: 20px;
}

form#feedback textarea
{
  width: 200px;
  height: 100px;
}

form .form-row.error-row
{
  color: red;
  text-align: center;
}

form .form-row.message-row
{
  color: green;
  text-align: center;
  font-weight: bold;
}